﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/png" href="~/DATA/iconlogo.png" />

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Scripts/Loading/dist/loading.css" rel="stylesheet" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/Scripts/Loading/dist/loading.js"></script>
    <script src="~/Scripts/Jscontroller/NotifyAll.js"></script>

    <title>Đăng nhập hệ thống</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<script src="~/Scripts/bootstrap-notify-master/bootstrap-notify-master/bootstrap-notify.js"></script>
        <script src="~/Scripts/bootstrap-notify-master/bootstrap-notify-master/bootstrap-notify.min.js"></script>*@
    <script src="~/Scripts/Jscontroller/NotifyAll.js"></script>
    <script src="~/Scripts/Jscontroller/loginController.js"></script>
    @*<script src="~/assets/global/scripts/app.min.js" type="text/javascript"></script>*@
    <!-- END THEME GLOBAL SCRIPTS -->
</head>
<body>

    <div class="modal fade text-center py-5" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="top-strip"></div>
                    <h3 class="pt-5 mb-0 text-secondary" style="color:#6b240e !important;">Hệ thống quản lý tài liệu nội bộ Tima </h3>
                    @RenderBody()
                    @*<p class="pb-1 text-muted"><small>Your email is safe with us. We won't spam.</small></p>*@
                    <div class="bottom-strip"></div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- ./subscribe Modal -->
 
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style type="text/css">

#subscribeModal .modal-content{
	overflow:hidden;
}
a.h2{
    color:#007b5e;
    margin-bottom:0;
    text-decoration:none;
}
#subscribeModal .form-control {
    height: 56px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
	padding-left:30px;
}
#subscribeModal .btn {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
	padding-right:20px;
	background:#007b5e;
	border-color:#007b5e;
}
#subscribeModal .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #007b5e;
    outline: 0;
    box-shadow: none;
}
    #subscribeModal .top-strip {
        height: 155px;
        background: #ffa456;
        transform: rotate(141deg);
        margin-top: -94px;
        margin-right: 190px;
        margin-left: -130px;
        border-bottom: 65px solid #4CAF50;
        border-top: 10px solid #4caf50;
    }
    #subscribeModal .bottom-strip {
        height: 155px;
        background: #007b5e;
        transform: rotate(112deg);
        margin-top: -110px;
        margin-right: -215px;
        margin-left: 300px;
        border-bottom: 65px solid #ffa456;
        border-top: 10px solid #4caf50;
    }

/**************************/
/****** modal-lg stips *********/
/**************************/
#subscribeModal .modal-lg .top-strip {
    height: 155px;
    background: #007b5e;
    transform: rotate(141deg);
    margin-top: -106px;
    margin-right: 457px;
    margin-left: -130px;
    border-bottom: 65px solid #4CAF50;
    border-top: 10px solid #4caf50;
}
#subscribeModal .modal-lg .bottom-strip {
    height: 155px;
    background: #007b5e;
    transform: rotate(135deg);
    margin-top: -115px;
    margin-right: -339px;
    margin-left: 421px;
    border-bottom: 65px solid #4CAF50;
    border-top: 10px solid #4caf50;
}

/****** extra *******/
#Reloadpage{
    cursor:pointer;
}
</style>
<script type="text/javascript">
    $(window).on('load', function () {
        $('#subscribeModal').modal('show');
        
    });
    $('#Reloadpage').click(function () {
        //location.reload();
    }); 
    $(document).mouseup(function (e) {
        var container = $("#Reloadpage");
        // if the target of the click isn't the container nor a descendant of the container
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            //container.show();
            $('#subscribeModal').modal('show');
        }
    });
</script>


