﻿@{
    Layout = null;

    int NumPage = 0;
    int CurrentPage = 0;
    int startPage = 1;
    int endPage = 5;
    int numLink = 5;
    string css_a = string.Empty;
    string css_li = string.Empty;

    if (ViewBag.CurrentPage != null)
    {
        CurrentPage = (int)ViewBag.CurrentPage;
    }
    if (ViewBag.TotalPage != null)
    {
        NumPage = (int)ViewBag.TotalPage;
    }

    //CurrentPage = 9;
    //NumPage = 10;
    if (CurrentPage > 1)
    {
        css_li = "";
    }
    else
    {
        css_li = "disabled";
    }

    startPage = CurrentPage - 2;
    if (startPage <= 0)
    {
        startPage = 1;
    }
    endPage = numLink + startPage - 1;

    if (endPage >= NumPage)
    {
        endPage = NumPage;
        startPage = endPage - numLink + 1;
    }
    if (startPage <= 0)
    {
        startPage = 1;
    }
}
<div class="row">
    @*<div class="table-footer" style="padding: 10px 0px 0px;">*@
    <div class="col-md-12">
        <ul class="pagination" style="float:right">
            <li class="@css_li">
                <a href="javascript:void(0);" onclick="page_click(@(CurrentPage - 1))">
                    ← Prev
                </a>
            </li>
            @for (int page = startPage; page <= endPage; page++)
            {
                css_a = ""; if (page == CurrentPage)
                { css_a = "active"; }
                <li class="@css_a"><a href="javascript:void(0);" onclick="page_click(@page)">@page</a></li>
            }
            @if (CurrentPage < NumPage) { css_li = ""; } else { css_li = "disabled"; }
            <li class="@css_li">
                <a href="javascript:void(0);" onclick="page_click(@(CurrentPage + 1))">
                    Next →
                </a>
            </li>
        </ul>
    </div>
    @*</div>*@
</div>
<input type="hidden" id="hdd_TotalPage" value="@NumPage" />

