﻿@model InformationFile.Models.Work.WorkModel
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            @*<a href="#"> @ViewBag.UserName</a>*@
            <a href="#"> Tạo đầu việc</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@ViewBag.ResourceName</span>
        </li>
    </ul>
</div>
<br />
<div class="portlet-title">
    <div class="tools">
        <a href="javascript:;" class="collapse"> </a>
        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
        <a href="javascript:;" class="reload"> </a>
        <a href="javascript:;" class="remove"> </a>
    </div>
</div>
<input type="hidden" value="1" name="PageCurrent" id="PageCurrent" />
<div class="portlet-body form">
    <!-- BEGIN FORM-->
    <div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <label class="col-md-3 control-label">Đầu việc</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.WorkName, new { @class = "form-control addWorkName", @placeholder = "Đầu việc" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Mô tả</label>
                <div class="col-md-4">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control addDescription", @placeholder = "Mô tả" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Phòng ban</label>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.ResourceID, new SelectList(Model.ListResource, "ResourceID", "Description"), new { @class = "form-control addResourceID" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Upload File</label>
                <div class="col-md-4 ">
                    @*<span class="btn green fileinput-button form-control">*@
                    @*<i class="fa fa-plus"></i>*@
                    @*<span> Add files... </span>*@
                    <input type="file" id="FileUpload1" class="form-control" />

                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-4">
                @*<button type="button" id="btnUpload" class="btn btn-circle green">Tạo mới</button>*@
                <input type="button" id="btnAdd" name="name" value="Tạo mới" style="margin-left:10px" class="btn  green" />
            </div>
        </div>
        <hr />

        <div class="clearfix"></div>
        <table class="table table-striped table-bordered table-hover table-header-fixed dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
            <thead>
                <tr>
                    <th> # </th>
                    <th class="text-center"> Đầu việc </th>
                    <th class="text-center"> Mô tả </th>
                    <th class="text-center"> Phòng ban </th>
                    <th class="text-center"> Người tạo </th>
                    <th class="text-center"> Ngày tạo </th>
                    <th class="text-center">Trạng thái</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>


                </tr>
            </thead>
            <tbody>
                @if (Model.ListItem != null && Model.ListItem.Count > 0)
                {
                    int indexRow = 0;

                    if (Model.CurrentPage > 1)
                    {
                        indexRow = 10 * (Model.CurrentPage - 1);

                    }
                    foreach (var item in Model.ListItem)
                    {
                        indexRow++;
                        <tr>
                            <td> @indexRow </td>
                            <td class="text-center"> @item.WorkName </td>
                            <td class="text-center"> @item.Description </td>
                            <td class="text-center"> @item.ResourceName </td>
                            <td class="text-center"> @item.FromUser </td>
                            <td class="text-center"> @item.Createdate.GetValueOrDefault().ToString("dd/MM/yyyy HH:mm")</td>
                            <td class="text-center"> @item.StatusView </td>
                            <td class="text-center"><a class="" onclick="ShowModel(@item.WorkId)" data-toggle="modal" href="#large"><i class="fa fa-edit"></i></a></td>
                            <td class="text-center"><a class="" onclick="DeleteWorkId(@item.WorkId)"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @{Html.RenderPartial("~/Views/Shared/Pagination.cshtml");}
    </div>
    @*Model*@
    <div class="modal fade bs-modal-lg" id="large" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Điều chỉnh công việc</h4>
                </div>
                @Html.HiddenFor(m => m.WorkId, new { @class = "editWorkId" })
                <input type="hidden" id="ResourceID_Old"  /> 
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Đầu việc</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.WorkName, new { @class = "form-control editWorkName" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="form-group">
                        <label class="col-md-3 control-label">Mô tả</label>
                        <div class="col-md-6">
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control editDescription" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="form-group">
                        <label class="col-md-3 control-label">Phòng ban</label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.ResourceID, new SelectList(Model.ListResource, "ResourceID", "Description"), new { @class = "form-control editResourceID" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="form-group">
                        <label class="col-md-3 control-label">File đã tải</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control media_Url" disabled />
                        </div >
                        <div style="padding-top:10px"> <a href="#" class="btn_download">Download</a></div>
                        
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="form-group">
                        <label class="col-md-3 control-label">Tải file mới</label>
                        <div class="col-md-6">
                            <input type="file" id="FileUpload2" class="form-control" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />

                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Đóng</button>
                    <button type="button" id="btn_Update" class="btn green">Lưu</button>
                </div>


            </div>
        </div>
    </div>
</div>
@section scripts{

    <script>

        $(document).ready(function () {
            $('.nav-item').removeClass('open active');
            $('#taodauviec').addClass('open active');

            $('#btnAdd').click(function () {
                var fileUpload = $("#FileUpload1").get(0);
                if ($('.addWorkName').val() == "") // 6 mb for bytes.
                {
                    toastr["warning"]("Bạn chưa nhập đầu việc", "warning");
                    $('.addWorkName').focus();
                    return false;
                }
                if ($('.addResourceID').val() == 0) // 6 mb for bytes.
                {
                    toastr["warning"]("Bạn chưa chọn phòng ban", "warning");
                    $('.addResourceID').focus();
                    return false;
                }
                // Checking whether FormData is available in browser
                if (window.FormData !== undefined) {
                    var files = fileUpload.files;
                    if (files.length != 0) {
                        if (files[0].size >= 52428800) // 6 mb for bytes.
                        {
                            toastr["warning"]("File vượt quá kích thước cho phép 6 mb", "Lỗi");
                            return false;
                        }
                    }

                    //var filePath = fileInput.value;
                    //var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
                    //if (!allowedExtensions.exec(filePath)) {
                    //    alert('Please upload file having extensions .jpeg/.jpg/.png/.gif only.');
                    //    fileInput.value = '';
                    //    return false;
                    // Create FormData object
                    var fileData = new FormData();
                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }
                    // Adding one more key to FormData object
                    fileData.append('workName', $('.addWorkName').val());
                    fileData.append('description', $('.addDescription').val());
                    fileData.append('resourceID', $('.addResourceID').val());
                    ShowLoading();
                    $.ajax({
                        url: '/Work/AddWork',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (data, status) {
                            StopShowLoading();
                            location.reload();
                            //setTimeout(function () {
                            //    window.location.reload(1);
                            //}, 1000);
                            toastr["success"]("", "Thành công");
                            console(data);
                            //if (data.Status == 1) {
                            //    toastr["success"](data.Message, "Thành công");
                            //}
                            //else {
                            //    toastr["error"](data.Message, "Lỗi")
                            //}
                        },
                        error: function (err) {

                            alert(err.statusText);
                        }
                    });
                } else {
                    alert("FormData is not supported.");
                }
            });
        });
        function DeleteWorkId(id) {
            bootbox.confirm("Bạn có chắc chắn muốn xóa", function (o) {
                if (o == true) {
                    ShowLoading();
                    $.ajax({
                        type: "POST",
                        url: '/Work/DeleteWork',
                        data: JSON.stringify({ 'workID': id }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data, status) {
                            if (data.Status == 1) {
                                setTimeout(function () {
                                    window.location.reload(1);
                                }, 1000);
                                toastr["success"](data.Message, "Thành công");
                            }
                            else {
                                setTimeout(function () {
                                    window.location.reload(1);
                                }, 1000);
                                toastr["error"](data.Message, "Lỗi");
                            }
                            StopShowLoading();
                        }
                    });
                }
            })
         }

        function ShowModel(id) {

            $('.editWorkId').val(0);
            $('.editWorkName').val("");
            $('.editDescription').val("");
            ShowLoading();
            $.ajax({
                type: "POST",
                url: '/Work/GetWorkById',
                data: JSON.stringify({ 'workId': id }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    StopShowLoading();
                    $('.editWorkId').val(msg.WorkId);
                    $('.editWorkName').val(msg.WorkName);
                    $('.editDescription').val(msg.Description);
                    $('.editResourceID').val(msg.ResourceID);
                    $('#ResourceID_Old').val(msg.ResourceID);
                    
                    $('.media_Url').val(msg.MediaUrl);

                }
            });
        }

        $(document).on('click', '#btn_Update', function (e) {
            if ($('.editWorkName').val() == "")
            {
                toastr["warning"]("Bạn chưa nhập đầu việc", "warning");
                $('.editWorkName').focus();
                return false;
            }
            if ($('.editResourceID').val() == 0)
            {
                toastr["warning"]("Bạn chưa chọn phòng ban", "warning");
                $('.editResourceID').focus();
                return false;
            }
            ShowLoading();
            var fileUpload = $("#FileUpload2").get(0);
            if (window.FormData !== undefined) {
                var files = fileUpload.files;
                if (files.length != 0) {
                    if (files[0].size >= 52428800) // 6 mb for bytes.
                    {
                        toastr["warning"]("File vượt quá kích thước cho phép 6 mb", "Lỗi");
                        return false;
                    }
                }
                var fileData = new FormData();
                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                // Adding one more key to FormData object
                fileData.append('workId', $('.editWorkId').val());
                fileData.append('workName', $('.editWorkName').val());
                fileData.append('description', $('.editDescription').val());
                fileData.append('resourceID', $('.editResourceID').val());

                ShowLoading();
                $.ajax({
                    url: '/Work/UpdateWorkById',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (data, status) {
                        StopShowLoading();
                        $('#large').modal().hide();
                        location.reload();
                        toastr["success"]("", "Thành công");
                        console(data);
                    },
                    error: function (err) {

                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });

        $(document).on('click', '.btn_download', function () {
            var workid = $('.editWorkId').val();
            var resourceID = $('#ResourceID_Old').val();
            downloadfile(workid, resourceID);
        });

         function downloadfile(id, resourceID) {
                $.ajax({
                    type: "POST",
                    url: '/WorkUser/ExporFile',
                    data: JSON.stringify({ 'id': id}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                }).done(function (data) {
                    if (data.fileName != "") {
                        var url = '@Html.Raw(Url.Action("Download", "WorkUser", new { file = "__productId__", resourceID = "__orderId__"}))';
                        var params = url.replace('__productId__', data.fileName).replace('__orderId__', resourceID);
                        window.location.href = params;
                    }
                    else {
                        toastr["error"](data.errorMessage, "Lỗi ! không tìm thấy file");
                    }
                });
        }


          function page_click(CurrentPage) {
              var TotalPage = $('#hdd_TotalPage').val();
              if (CurrentPage < 1) return;
              if (CurrentPage > TotalPage) return;
          $("#PageCurrent").val(CurrentPage);

             var url = '@Html.Raw(Url.Action("Index", "Work", new { CurrentPage = " __currenpage__" }))';
            var params = url.replace('__currenpage__', CurrentPage);
                        window.location.href = params;
        }
    </script>
}