﻿@model InformationFile.Models.Work.WorkModel
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">Đầu việc của phòng </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@ViewBag.ResourceName</span>
        </li>
    </ul>
</div>
<br />
<div class="portlet-title">
    <div class="tools">
        <a href="javascript:;" class="collapse"> </a>
        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
        <a href="javascript:;" class="reload"> </a>
        <a href="javascript:;" class="remove"> </a>
    </div>
</div>
<input type="hidden" value="1" name="PageCurrent" id="PageCurrent" />
<div class="portlet-body form">
    <!-- BEGIN FORM-->
    <div class="form-horizontal">
        <div class="clearfix"></div>
        <table class="table table-striped table-bordered table-hover table-header-fixed dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
            <thead>
                <tr>
                    <th> # </th>
                    <th class="text-center"> Đầu việc </th>
                    <th class="text-center"> Mô tả </th>
                    <th class="text-center"> Từ phòng ban </th>
                    <th class="text-center"> Người tạo </th>
                    <th class="text-center"> Ngày tạo </th>
                    <th class="text-center"> Nhân viên note </th>
                    <th class="text-center">Trạng thái</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ListItem != null && Model.ListItem.Count > 0)
                {
                    int indexRow = 0;

                    if (Model.CurrentPage > 1)
                    {
                        indexRow = 10 * (Model.CurrentPage - 1);
                    }
                    foreach (var item in Model.ListItem)
                    {
                        indexRow++;
                <tr>
                    <td> @indexRow </td>
                    <td class="text-center"> @item.WorkName </td>
                    <td class="text-center"> @item.Description </td>
                    <td class="text-center"> @item.ResourceName </td>
                    <td class="text-center"> @item.FromUser </td>
                    <td class="text-center"> @item.Createdate.GetValueOrDefault().ToString("dd/MM/yyyy HH:mm")</td>
                    <td class="text-center"> @item.NoteByUser </td>
                    @if (item.Status == InformationFile.Extention.StatusEnum.HoanThanh.GetHashCode())
                    {
                        <td class="text-center text-success"> @item.StatusView </td>
                    }
                    else if (item.Status == InformationFile.Extention.StatusEnum.DangXuLy.GetHashCode())
                    {
                        <td class="text-center text-danger"> Đã giao việc </td>
                    }
                    else
                    {
                        <td class="text-center"> Chưa giao việc </td>
                    }
                    <td class="text-center"><a class="btn purple btn-outline sbold" onclick="ShowModel(@item.WorkId)" data-toggle="modal" href="#large"> <i class="fa fa-check"></i> </a></td>
                </tr>
                    }
                }
            </tbody>
        </table>
        @{Html.RenderPartial("~/Views/Shared/Pagination.cshtml");}
    </div>
</div>

<div class="modal fade bs-modal-lg" id="large" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Chia đầu việc</h4>
            </div>
            @Html.HiddenFor(m => m.WorkId)
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Đầu việc</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.WorkName, new { @class = "form-control ", @disabled = "disabled" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="form-group">
                    <label class="col-md-3 control-label">Mô tả</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control ", @disabled = "disabled" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="form-group">
                    <label class="col-md-3 control-label">Nhân viên</label>
                    <div class="col-md-6">
                        <select class="form-control" id="ToUser" name="ToUser"></select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="form-group">
                    <label class="col-md-3 control-label">Nhân viên được chọn</label>
                    <div class="col-md-6">
                        <input type="text" id="arrUser" class="form-control input-large arrUser">
                        @*<select multiple class="arrUser" data-role="tagsinput"></select>*@
                    </div>
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="form-group">
                    <label class="col-md-3 control-label">Ghi chú</label>
                    <div class="col-md-6">
                        @Html.TextAreaFor(m => m.NoteByLeader, new { @class = "form-control "})
                    </div>
                </div>
                <div class="clearfix"></div>
                <br />
            </div>
            <br />
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Đóng</button>
                <button type="button" id="btn_Save" class="btn green">Chuyển</button>
            </div>


        </div>
    </div>
</div>
<style type="text/css">
    .bootstrap-tagsinput{
        width : 100% !important;
    }
</style>
@section scripts{

    <script src="~/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.nav-item').removeClass('open active');
            $('#dauvieccuaphong').addClass('open active');
        });
        
        $(document).on('change', '#ToUser', function (e) {
            var t = $(".arrUser");
            if ($(this).val() != 0) {
                t.tagsinput({
                    itemValue: "value",
                    itemText: "text"
                }), t.tagsinput("add", {
                    value: $(this).val(),
                    text: $(this).find("option:selected").text()
                })
                //xóa user add xuôngs
                $("#ToUser option[value='" + $(this).val() + "']").remove();
            }

            console.log($('.arrUser').val());
        });

        function ShowModel(id) {
           
            RemoveAll();
            $('#ToUser').empty();
            ShowLoading();
            $.ajax({
                type: "POST",
                url: '/Work/GetWork',
                data: JSON.stringify({ 'workId': id }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    $('#WorkId').val(msg.WorkId);
                    $('#WorkName').val(msg.WorkName);
                    $('#Description').val(msg.Description);
                    $('#NoteByLeader').val(msg.NoteByLeader);

                    $('#ToUser').append('<option value="' + 0 + '">' + '--Nhân viên--' + '</option>');
                    for (var i = 0; i < msg.lstUserWork.length; i++) {
                        if (msg.lstUserWork[i].CheckStatus != 1) {
                            $('#ToUser').append('<option value="' + msg.lstUserWork[i].UserID + '">' + msg.lstUserWork[i].Fullname + '</option>');
                        }
                        else {
                            var t = $(".arrUser");
                            t.tagsinput({
                                itemValue: "value",
                                itemText: "text"
                            }), t.tagsinput("add", {
                                value: msg.lstUserWork[i].UserID,
                                text: msg.lstUserWork[i].Fullname
                            })
                        }
                    }
                    StopShowLoading();
                }
            });
        }

        $(document).on('itemRemoved', '#arrUser', function (event) {
            ShowLoading();
            $.ajax({
                type: "POST",
                url: '/Work/GetListUserWork',
                data: JSON.stringify({ 'userID': $(this).val(), 'workid': $('#WorkId').val() }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    console.log(msg);
                    $('#ToUser').empty();
                    $('#ToUser').append('<option value="' + 0 + '">' + '--Nhân viên--' + '</option>');
                    for (var i = 0; i < msg.lstUserWork.length; i++) {
                        $('#ToUser').append('<option value="' + msg.lstUserWork[i].UserID + '">' + msg.lstUserWork[i].Fullname + '</option>');
                    }
                    StopShowLoading();
                }
            });

        });

        $(document).on('click', '#btn_Save', function () {
            if ($('#arrUser').val() == "") {
                toastr["warning"]("Bạn chọn nhân viên", "warning");
                $('#arrUser').focus();
                return false;
            }
            ShowLoading();
            $.ajax({
                type: "POST",
                url: '/Work/AddWorkToUser',
                data: JSON.stringify({ 'workId': $('#WorkId').val(), 'toUser': $('#arrUser').val(), 'notebyleader': $('#NoteByLeader').val() }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, status) {
                    if (data.Status == 1) {
                        location.reload();
                        $('#large').modal().hide();
                        toastr["success"](data.Message, "Thành công");
                    }
                    else {

                        toastr["error"](data.Message, "Lỗi");
                    }
                    StopShowLoading();

                }
            });
        });
        function RemoveAll() {
            var t = $(".arrUser");
            t.tagsinput({
                itemValue: "value",
                itemText: "text"
            }), t.tagsinput('removeAll');
        }

        function page_click(CurrentPage) {
            var TotalPage =$('#hdd_TotalPage').val();
            if (CurrentPage < 1) return;
            if (CurrentPage > TotalPage) return;
             $("#PageCurrent").val(CurrentPage);
            var url = '@Html.Raw(Url.Action("ListWorkByResource", "Work", new { CurrentPage = " __currenpage__" }))';
            var params = url.replace('__currenpage__', CurrentPage);
            window.location.href = params;
        }
      
    </script>
    @*<script src="~/Scripts/Jscontroller/tagsinput.js"></script>*@
}