﻿<div class="section-body cgv pt-6 pb-3" style="background-image: url(/images/bg-2.jpg)">
    <div class="container">
        <div class="row justify-content-center mb-6">
            <div class="col-lg-7 col-md-8">
                <div class="video-container"><a href="#"><img class="img-fluid w-100" src="http://placehold.it/638x340"><i class="icont icont-play-circle"></i></a></div>
            </div>
        </div>
        <div class="row grid-news">
            <div class="col-md-3 col-6 mb-5">
                <a href="#"><img class="img-fluid w-100 mb-3" src="http://placehold.it/225x156"></a>
                <h4 class="fs-base fw-4 mb-0">
                    <a class="text-white" href="#">
                        VTV1- Tima hợp tác chiến lược với tổng công ty bảo hiểm VietinBank VBI
                    </a>
                </h4>
            </div>
            <div class="col-md-3 col-6 mb-5">
                <a href="#"><img class="img-fluid w-100 mb-3" src="http://placehold.it/225x156"></a>
                <h4 class="fs-base fw-4 mb-0"><a class="text-white" href="#">Hơn nửa tỉ đô la Mỹ đã được kết nối thành công qua sàn tài chính Tima</a></h4>
            </div>
            <div class="col-md-3 col-6 mb-5">
                <a href="#"><img class="img-fluid w-100 mb-3" src="http://placehold.it/225x156"></a>
                <h4 class="fs-base fw-4 mb-0"><a class="text-white" href="#">Việt Nam chính thức có sàn giao dịch tài chính dùng Facebook đánh giá tín nhiệm khách vay</a></h4>
            </div>
            <div class="col-md-3 col-6 mb-5">
                <a href="#"><img class="img-fluid w-100 mb-3" src="http://placehold.it/225x156"></a>
                <h4 class="fs-base fw-4 mb-0"><a class="text-white" href="#">Việt Nam chính thức có sàn giao dịch tài chính dùng Facebook đánh giá tín nhiệm khách vay</a></h4>
            </div>
        </div>
    </div>
</div>