﻿@model InformationFile.Models.UploadFile.TotalFileUploadModel
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">Tổng hợp các văn bản </a>
            <i class="fa fa-circle"></i>
        </li>
        @*<li>
                <span>@ViewBag.UserName</span>
            </li>*@
    </ul>
</div>
<br />
<div class="portlet-title">
    <div class="tools">
        <a href="javascript:;" class="collapse"> </a>
        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
        <a href="javascript:;" class="reload"> </a>
        <a href="javascript:;" class="remove"> </a>
    </div>
</div>
<input type="hidden" value="1" name="PageCurrent" id="PageCurrent" />
<div class="portlet-body form">
    <!-- BEGIN FORM-->
    <div class="form-horizontal">
        <div class="clearfix"></div>
        <table class="table table-striped table-bordered table-hover table-header-fixed dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
            <thead>
                <tr>
                    <th> # </th>
                    <th> Tên thư mục </th>
                    <th class="text-center"> Số văn bản hiệu lực toàn phần</th>
                    <th class="text-center">Số văn bản hiệu lực từng phần</th>
                    <th class="text-center">Số văn bản đã hết hiệu lực</th>
                    <th class="text-center"> Tổng</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.lstItem != null && Model.lstItem.Count > 0)
                {
                    int indexRow = 0;

                    //if (Model.CurrentPage > 1)
                    //{
                    //    indexRow = 10 * (Model.CurrentPage - 1);
                    //}
                    foreach (var item in Model.lstItem)
                    {
                        indexRow++;
                        <tr>
                            @if (item.Type == InformationFile.Extention.TypeResource.TypeAll.GetHashCode())
                            {
                                <td> @indexRow </td>
                                <td><a href='/UploadFile/Index?ResourceID=@item.ResourceID'> @item.ResourceName </a></td>
                                <td class="text-center text-success"><b> @item.HieuLucToanPhan </b></td>
                                <td class="text-center text-primary"><b> @item.HieuLucTungPhan</b> </td>
                                <td class="text-center "> <b>@item.HetHieuLuc </b></td>
                                <td class="text-center text-danger"> <b>@item.Tong</b></td>
                            }
                            else
                            {
                                <td> @indexRow </td>
                                if (item.checkView == true)
                                {
                                    <td><a href='/UploadFile/Index?ResourceID=@item.ResourceID'> @item.ResourceName </a></td>
                                }
                                else
                                {
                                    <td><a href='#' class="Link_fail"> @item.ResourceName </a></td>
                                }

                                <td class="text-center text-success"><b> @item.HieuLucToanPhan </b></td>
                                <td class="text-center text-primary"><b> @item.HieuLucTungPhan</b> </td>
                                <td class="text-center "> <b>@item.HetHieuLuc </b></td>
                                <td class="text-center text-danger"> <b>@item.Tong</b></td>
                            }

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>


</div>
@section scripts{
    <script>
        $(document).on('click', '.Link_fail', function () {
            toastr["warning"]("Bạn không không có quyền xem", "Lỗi");
            return false;
        })
        $(document).ready(function () {
            $('.nav-item').removeClass('open active');
            $('#tonghopvanban').addClass('open active');
        });

    </script>

}
