﻿@model InformationFile.Models.Role.RoleModel

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="index.html"> Phân quyền</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@ViewBag.UserName</span>
        </li>
    </ul>
</div>
<br />
<div class="portlet-body form">
    <form class="form-vertical" action="/Role/Index" method="post" id="formRole">
        <div class="portlet-body">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-1 control-label" style="margin-right:-50px">Phòng ban</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.ResourceID, new SelectList(Model.ListResource, "ResourceID", "Description"), new { @class = "form-control " })
                    </div>
                    <label class="col-md-1 control-label" style="margin-right:-50px">Họ và tên</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.txtSearch, new { @class = "form-control ", @placeholder = "Họ và tên ,Email" })
                    </div>
                    <div class="col-md-1">
                        <input type="submit" value="Tìm kiếm" class="btn btn-primary" />
                    </div>
                </div>


            </div>
            <br />
            <table class="table table-striped table-checkable table-bordered table-hover" id="sample_1">
                <thead>
                    <tr>
                        <th> # </th>
                        <th> Email</th>
                        <th> Họ tên</th>
                        <th class="text-center">Xem </th>
                        <th class="text-center">Upload</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListItem != null && Model.ListItem.Count > 0)
                    {
                        int indexRow = 0;
                        if (Model.CurrentPage > 1)
                        {
                            indexRow = 10 * (Model.CurrentPage - 1);

                        }

                        foreach (var item in Model.ListItem)
                        {
                            indexRow++;
                            <tr>
                                <td> @indexRow </td>
                                <td> @item.Email </td>
                                <td> @item.Fullname </td>
                                <td class="text-center">
                                    @if (item.CmdView == true)
                                    {
                                        <input type="checkbox" id="cb_View_@item.UserID" class="cb_View" value="0" checked onclick="SaveCB_View(@item.UserID,@item.ResourceID)">
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="cb_View_@item.UserID" class="cb_View" onclick="SaveCB_View(@item.UserID,@item.ResourceID)">
                                    }
                                </td>
                                <td class="text-center">
                                    @if (item.CmdInsert == true)
                                    {
                                        <input type="checkbox" id="cb_Upload_@item.UserID" class="cb_Upload" checked onclick="SaveCB_Insert(@item.UserID,@item.ResourceID)">
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="cb_Upload_@item.UserID" class=" cb_Upload" onclick="SaveCB_Insert(@item.UserID,@item.ResourceID)">
                                    }
                                </td>
                                <td class="text-center">
                                    @if (item.CmdEdit == true)
                                    {
                                        <input type="checkbox" id="cb_Edit_@item.UserID" class="cb_Edit" checked onclick="SaveCB_Edit(@item.UserID,@item.ResourceID)">
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="cb_Edit_@item.UserID" class="cb_Edit" onclick="SaveCB_Edit(@item.UserID,@item.ResourceID)">
                                    }

                                </td>
                                <td class="text-center">
                                    @if (item.CmdDelete == true)
                                    {
                                        <input type="checkbox" id="cb_Delete_@item.UserID" class="cb_Delete" checked onclick="SaveCB_Delete(@item.UserID,@item.ResourceID)">
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="cb_Delete_@item.UserID" class="cb_Delete" onclick="SaveCB_Delete(@item.UserID,@item.ResourceID)">
                                    }

                                </td>
                                <td hidden class="info_user" data-id="@item.UserID"></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @{Html.RenderPartial("~/Views/Shared/Pagination.cshtml");}
        </div>
    </form>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.nav-item').removeClass('open active');
            $('#phanquyen').addClass('open active');
        });
        $(document).on('change', '#ResourceID', function () {
            @*var url = '@Html.Raw(Url.Action("Index", "Role", new { ResourceID = "__productId__"}))';
            var params = url.replace('__productId__', $(this).val());
                        window.location.href = params;*@
            $('#formRole').submit();
        })

        function page_click(CurrentPage) {
            if (CurrentPage < 1) return;
          $("#PageCurrent").val(CurrentPage);

            var url = '@Html.Raw(Url.Action("Index", "Role", new { ResourceID = "__productId__",CurrentPage = " __currenpage__" }))';
            var params = url.replace('__productId__', $('#ResourceID').val()).replace('__currenpage__', CurrentPage);
                        window.location.href = params;

        }

        var cb_View = false;
        var cb_Insert = false;
        var cb_Edit = false;
        var cb_Delete = false;
        var arr = [];

        function SaveCB_View(userID, resourceId) {
            if (resourceId == 0) {
                toastr["warning"]("Bạn chưa chọn phòng ban", "Lỗi");
                return false;
            }
            debugger
            if ($("#cb_View_" + userID).prop('checked')) {
                cb_View = true;
            }
            ShowLoading();
            $.ajax({
                type: "POST",
                url: '/Role/UpdateRole',
                data: JSON.stringify({ 'userid': userID, 'resourceid': resourceId, 'role': cb_View,'type' : 1 }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, status) {
                    if (data.Status == 1) {
                        toastr["success"](data.Message, "Thành công");
                    }
                    else {

                        toastr["error"](data.Message, "Lỗi");
                    }
                    StopShowLoading();
                }
            });
        }
        function SaveCB_Insert(userID, resourceId) {
            if (resourceId == 0) {
                toastr["warning"]("Bạn chưa chọn phòng ban", "Lỗi");
                return false;
            }
            if ($("#cb_Upload_" + userID).prop('checked')) {
                cb_Insert = true;
            }
             ShowLoading();
            $.ajax({
                type: "POST",
                url: '/Role/UpdateRole',
                data: JSON.stringify({ 'userid': userID, 'resourceid': resourceId, 'role': cb_Insert, 'type': 2 }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, status) {
                    if (data.Status == 1) {
                        toastr["success"](data.Message, "Thành công");
                    }
                    else {

                        toastr["error"](data.Message, "Lỗi");
                    }
                    StopShowLoading();
                }
            });
        }

        function SaveCB_Edit(userID, resourceId) {
            if (resourceId == 0) {
                toastr["warning"]("Bạn chưa chọn phòng ban", "Lỗi");
                return false;
            }
            debugger
            if ($("#cb_Edit_" + userID).prop('checked')) {
                cb_Edit = true;
            }
            ShowLoading();
            $.ajax({
                type: "POST",
                url: '/Role/UpdateRole',
                data: JSON.stringify({ 'userid': userID, 'resourceid': resourceId, 'role': cb_Edit, 'type': 4 }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, status) {
                    if (data.Status == 1) {
                        toastr["success"](data.Message, "Thành công");
                    }
                    else {

                        toastr["error"](data.Message, "Lỗi");
                    }
                    StopShowLoading();
                }
            });
        }
        function SaveCB_Delete(userID, resourceId) {
            if (resourceId == 0) {
                toastr["warning"]("Bạn chưa chọn phòng ban", "Lỗi");
                return false;
            }
            if ($("#cb_Delete_" + userID).prop('checked')) {
                cb_Delete = true;
            }
            ShowLoading();
            $.ajax({
                type: "POST",
                url: '/Role/UpdateRole',
                data: JSON.stringify({ 'userid': userID, 'resourceid': resourceId, 'role': cb_Delete, 'type': 3 }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, status) {
                    if (data.Status == 1) {
                        toastr["success"](data.Message, "Thành công");
                    }
                    else {

                        toastr["error"](data.Message, "Lỗi");
                    }
                    StopShowLoading();
                }
            });
        }
    </script>
}