﻿@model InformationFile.Models.User.UserModel
@{
    TimaFMEntities db = new TimaFMEntities();
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            @*<a href="#"> @ViewBag.UserName</a>*@
            <a href="#">Danh sách email</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            @*<span>@ViewBag.Email</span>*@
        </li>
    </ul>
</div>
<br />
<div class="portlet-title">
    <div class="tools">
        <a href="javascript:;" class="collapse"> </a>
        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
        <a href="javascript:;" class="reload"> </a>
        <a href="javascript:;" class="remove"> </a>
    </div>
</div>
<input type="hidden" value="1" name="PageCurrent" id="PageCurrent" />
<div class="portlet-body form">
    <!-- BEGIN FORM-->
    <div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <label class="col-md-3 control-label">Email</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Họ và tên</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Fullname, new { @class = "form-control ", @placeholder = "Họ và tên" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Phòng ban</label>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.ResourceID, new SelectList(Model.ListResource, "ResourceID", "Description"), new { @class = "form-control " })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Chức vụ</label>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.Type, new SelectList(Model.LstPosition, "Value", "Text"), new { @class = "form-control " })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Upload File Excel</label>
                <div class="col-md-4">
                    <input type="file" id="FileUpload2" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-4">
                <input type="button" id="btnAdd" name="name" value="Tạo mới" style="margin-left:10px" class="btn  green" />
                <input type="button" id="btnUpload" name="name" value="Upload Excel" style="margin-left:10px" class="btn  btn-primary" />
                <input type="button" id="btnCreate" name="name" value="Tải File Mẫu" style="margin-left:10px" class="btn  btn-default" />
            </div>
        </div>
        <hr />
        <div class="clearfix"></div>
        <form class="form-vertical" action="/User/Index" method="post" id="formUser">
            <div class="form-group">
                <div class="col-md-2">
                    <input type="text" class="form-control" name="txtSearch" placeholder="Email ,Họ và tên" />
                </div>

                <div class="col-md-1">
                    <input type="submit" class="btn btn-primary" id="btnSearch" value="Tìm kiếm" />
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover table-header-fixed dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
                <thead>
                    <tr>
                        <th> # </th>
                        <th class="text-left"> Email </th>
                        <th class="text-center"> Họ và tên </th>
                        <th class="text-center"> Phòng ban </th>
                        <th class="text-center"> Chức vụ </th>
                        <th class="text-center">Sửa</th>
                        <th class="text-center">Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListUser != null && Model.ListUser.Count > 0)
                    {
                        int indexRow = 0;
                        if (Model.CurrentPage > 1)
                        {
                            indexRow = 10 * (Model.CurrentPage - 1);
                        }
                        foreach (var item in Model.ListUser)
                        {
                            indexRow++;
                            <tr>
                                <td> @indexRow </td>
                                <td class="text-left"> @item.Email </td>
                                <td class="text-center"> @item.Fullname</td>
                                <td class="text-center"> @item.ResourceName </td>
                                <td class="text-center"> @item.TypeView </td>
                                <td class="text-center"><a class="" onclick="ShowModel(@item.UserID)" data-toggle="modal" href="#large"><i class="fa fa-edit"></i></a></td>
                                <td class="text-center"><a class="" onclick="DeleteWorkId(@item.UserID)"><i class="fa fa-trash"></i></a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @{Html.RenderPartial("~/Views/Shared/Pagination.cshtml");}
        </form>
    </div>
    @*Model*@
    <div class="modal fade bs-modal-lg" id="large" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Chỉnh sửa email</h4>
                </div>
                @Html.HiddenFor(m => m.UserID, new { @class = "editUserID" })
                <input type="hidden" id="ResourceID_Old" />
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Email</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control editEmail", @placeholder = "Email" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="form-group">
                        <label class="col-md-3 control-label">Họ và tên</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Fullname, new { @class = "form-control editFullname", @placeholder = "Họ và tên" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="form-group">
                        <label class="col-md-3 control-label">Phòng ban</label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.ResourceID, new SelectList(Model.ListResource, "ResourceID", "Description"), new { @class = "form-control EitResourceID" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="form-group">
                        <label class="col-md-3 control-label">Chức vụ</label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.Type, new SelectList(Model.LstPosition, "Value", "Text"), new { @class = "form-control EditType" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Đóng</button>
                    <button type="button" id="btn_Update" class="btn green">Lưu</button>
                </div>


            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
@section scripts{
    <script>
        //create file
        $(document).on('click', '#btnCreate', function () {
            window.location.href = "/Excel/ExportUserMail";
        });
        //upload file excel
        $(document).on('click', '#btnUpload', function (e) {
            ShowLoading();
            var fileUpload = $("#FileUpload2").get(0);
            if (window.FormData !== undefined) {
                var files = fileUpload.files;
                if (files.length != 0) {
                    if (files[0].size >= 52428800) // 6 mb for bytes.
                    {
                        toastr["warning"]("File vượt quá kích thước cho phép 6 mb", "Lỗi");
                        return false;
                    }
                }
                var fileData = new FormData();
                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                // Adding one more key to FormData object
                $.ajax({
                    url: '/User/UploadExcel',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (data, status) {
                        console.log(data);
                        if (data.Status == 1) {
                            setTimeout(function () {
                                window.location.reload(1);
                            }, 1000);
                            var str = "";
                            toastr["success"](str, "Thành công");
                        }
                        else {
                            setTimeout(function () {
                                window.location.reload(1);
                            }, 1000);
                            toastr["error"](data.Message, "Lỗi");
                        }
                        StopShowLoading();

                    },
                    error: function (err) {
                        toastr["error"]("","Lỗi");
                        StopShowLoading();
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });



        $(document).ready(function () {
            $('.nav-item').removeClass('open active');
            $('#gmailUser').addClass('open active');
            $('#btnAdd').click(function () {
                if ($('#Email').val() == "") {
                    toastr["warning"]("Bạn chưa nhập Email", "warning");
                    $('#Email').focus();
                    return false;
                }
                if (!validateEmail($('#Email').val())) {
                    toastr["warning"]("Email không đúng định dạng", "warning");
                    $('#Email').focus();
                    return false;
                }
                //if ($('#ResourceUrl').val() == "") {
                //    toastr["warning"]("Bạn chưa nhập Url", "warning");
                //    $('#ResourceUrl').focus();
                //    return false;
                //}
                ShowLoading();
                $.ajax({
                    type: "POST",
                    url: '/User/AddUser',
                    data: JSON.stringify({ 'Email': $('#Email').val(), 'FullName': $('#Fullname').val(), 'ResourceID': $('#ResourceID').val(), 'Type': $('#Type').val()}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data, status) {
                        if (data.Status == 1) {
                            setTimeout(function () {
                                window.location.reload(1);
                            }, 1000);
                            toastr["success"](data.Message, "Thành công");
                        }
                        else {
                            setTimeout(function () {
                                window.location.reload(1);
                            }, 1000);
                            toastr["error"](data.Message, "Lỗi");
                        }
                        StopShowLoading();
                    }
                });
            });
        });
        function DeleteWorkId(id) {
            bootbox.confirm("Bạn có chắc chắn muốn xóa", function (o) {
                if (o == true) {
                    ShowLoading();
                    $.ajax({
                        type: "POST",
                        url: '/User/DeleteUser ',
                        data: JSON.stringify({ 'UserID': id }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data, status) {
                            if (data.Status == 1) {
                                setTimeout(function () {
                                    window.location.reload(1);
                                }, 1000);
                                toastr["success"](data.Message, "Thành công");
                            }
                            else {
                                setTimeout(function () {
                                    window.location.reload(1);
                                }, 1000);
                                toastr["error"](data.Message, "Lỗi");
                            }
                            StopShowLoading();
                        }
                    });
                }
            })
         }

        function ShowModel(id) {
            $('.editEmail').val("");
            $('.editFullname').val("");
            $('.EitResourceID').val(0);
            $('.EditType').val(0);
            $('.editUserID').val(0);
            ShowLoading();
            $.ajax({
                type: "POST",
                url: '/User/GetUserById',
                data: JSON.stringify({ 'UserID': id }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    StopShowLoading();

                    $('.editUserID').val(msg.UserID);
                    $('.editEmail').val(msg.Email);
                    $('.editFullname').val(msg.Fullname);
                    $('.EitResourceID').val(msg.ResourceID);
                    $('.EditType').val(msg.Type);
                }
            });
        }

        $(document).on('click', '#btn_Update', function (e) {
            if ($('.editEmail').val() == "")
            {
                toastr["warning"]("Bạn chưa nhập email", "warning");
                $('.editEmail').focus();
                return false;
            }
            if (!validateEmail($('.editEmail').val())) {
                toastr["warning"]("Email không đúng định dạng", "warning");
                $('#Email').focus();
                return false;
            }
            if ($('.EitResourceID').val() == "") {
                toastr["warning"]("Bạn chưa chọn phòng ban", "warning");
                $('.EitResourceID').focus();
                return false;
            }
            ShowLoading();
            $.ajax({
                type: "POST",
                url: '/User/UpdateUser',
                data: JSON.stringify({ 'UserID': $('.editUserID').val(), 'Email': $('.editEmail').val(), 'Fullname': $('.editFullname').val(), 'Type': $('.EditType').val(), 'ResourceID': $('.EitResourceID').val()}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, status) {
                    if (data.Status == 1) {
                        setTimeout(function () {
                            window.location.reload(1);
                        }, 1000);
                        toastr["success"](data.Message, "Thành công");
                    }
                    else {
                        setTimeout(function () {
                            window.location.reload(1);
                        }, 1000);
                        toastr["error"](data.Message, "Lỗi");
                    }
                    StopShowLoading();
                }
            });

        });

          function page_click(CurrentPage) {
              var TotalPage = $('#hdd_TotalPage').val();
              if (CurrentPage < 1) return;
              if (CurrentPage > TotalPage) return;
          $("#PageCurrent").val(CurrentPage);

             var url = '@Html.Raw(Url.Action("Index", "User", new { CurrentPage = " __currenpage__" }))';
            var params = url.replace('__currenpage__', CurrentPage);
                        window.location.href = params;
        }
    </script>
}