﻿@model InformationFile.Models.UploadFile.UploadFileModel
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#"> @ViewBag.DepamentName</a>
            <i class="fa fa-circle"></i>
        </li>
        @*<li>
                <span>Dashboard</span>
            </li>*@
    </ul>
</div>
<br />
@Html.HiddenFor(m => m.ResourceID)
<div class="portlet-title">
    <div class="tools">
        <a href="javascript:;" class="collapse"> </a>
        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
        <a href="javascript:;" class="reload"> </a>
        <a href="javascript:;" class="remove"> </a>
    </div>
</div>
<input type="hidden" value="1" name="PageCurrent" id="PageCurrent" />
<div class="portlet-body form">
    <!-- BEGIN FORM-->
    @if (@ViewBag.CmdInsert > 0)
    {
        <div class="form-horizontal">

            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Mã tài liệu</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.MediaCode, new { @class = "form-control ", @placeholder = "Mã tài liệu" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Tên file</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.MediaName, new { @class = "form-control ", @placeholder = "Tên file" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Ngày hiệu lực</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.EffectiveDate, new { @class = "form-control date-picker", @placeholder = "Ngày hiệu lực" })
                        @*<input class="form-control form-control-inline input-medium date-picker" size="16" type="text" value="" />*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Tình trạng hiệu lực</label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.EffectiveStatus, new SelectList(Model.ListeffectiveStatus, "Value", "Text"), new { @class = "form-control addEffectiveStatus " })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Upload File</label>
                    <div class="col-md-4">
                        <span class="btn green fileinput-button ">
                            @*<i class="fa fa-plus"></i>*@
                            @*<span> Add files... </span>*@
                            <input type="file" id="FileUpload1" class="input-circle" />
                        </span>
                    </div>
                </div>
            </div>


            <div class="">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="button" id="btnUpload" class="btn btn-circle green">Upload file</button>
                        @*<button type="button" class="btn btn-circle grey-salsa btn-outline">Cancel</button>*@
                    </div>
                </div>
            </div>
        </div>
    }

    <hr />
    <br />
    <!-- END FORM-->
    <div class="portlet-body">
        <div>
            <div class="form-group">
                <label class="col-md-1 control-label">Tên file</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.Str, new { @class = "form-control", @placeholder = "Tên file" })
                </div>
                <label class="col-md-1 control-label" style="min-width:160px">Tình trạng hiệu lực</label>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.EffectiveStatusSearch, new SelectList(Model.ListeffectiveStatus, "Value", "Text"), new { @class = "form-control " })
                </div>
                <div class="col-md-2">
                    <button type="button" id="btn_search" class="btn btn-circle blue">Tìm kiếm</button>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="clearfix"></div>
        <table class="table table-striped table-bordered table-hover table-header-fixed dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
            <thead>
                <tr>
                    <th> # </th>
                    <th> Phòng ban </th>
                    <th>Mã tài liệu </th>
                    <th>Tên tài liệu </th>
                    <th> Ngày hiệu lực </th>
                    <th> Tình trạng hiệu lực</th>
                    <th> Kiểu file </th>
                    <th> Người upload </th>
                    <th> Ngày tạo </th>
                    <th class="text-center">Download</th>
                    @if (ViewBag.CmdEdit > 0)
                    {
                        <th class="text-center" data-toggle="modal" href="#large">Sửa</th>
                    }
                    @if (ViewBag.CmdDelete > 0)
                    {
                        <th class="text-center">Xóa</th>
                    }
                    <th class="text-center">Xem</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ListItem != null && Model.ListItem.Count > 0)
                {
                    int indexRow = 0;

                    if (Model.CurrentPage > 1)
                    {
                        indexRow = 10 * (Model.CurrentPage - 1);

                    }
                    foreach (var item in Model.ListItem)
                    {
                        indexRow++;
                <tr>
                    <td> @indexRow </td>
                    <td> @item.DeparmentName </td>
                    <td>@item.MediaCode</td>
                    <td>@item.MediaName</td>
                    <td> @item.EffectiveDateView.GetValueOrDefault().ToString("dd/MM/yyyy")</td>
                    <td> @item.EffectiveStatusView</td>
                    <td> @item.MediaType </td>
                    <td> @item.FullName </td>
                    <td> @item.Createdate.GetValueOrDefault().ToString("dd/MM/yyyy HH:mm")</td>
                    <td class="text-center"><a onclick="downloadfile(@item.MediaID)"><i class="fa fa-download"></i></a></td>
                    @if (ViewBag.CmdEdit > 0)
                    {
                        <td class="text-center"><a class="" onclick="ShowModel(@item.MediaID)" data-toggle="modal" href="#large"><i class="fa fa-edit"></i></a></td>
                    }
                    @if (ViewBag.CmdDelete > 0)
                    {
                        <td class="text-center"><a onclick="DeleteFile(@item.MediaID)"><i class="fa fa-trash"></i></a></td>
                    }
                    @if (item.MediaType == "txt" || item.MediaType == "pdf")
                    {
                        @*<td class="text-center"><a target="_blank" href="@item.Url"><i class="fa fa-eye"></i></a></td>*@
                        <td class="text-center"><a target="_blank" href="/UploadFile/ViewFifle?MediaID=@item.MediaID"><i class="fa fa-eye"></i></a></td>
                    }
                    else
                    {
                        <td class="text-center"><a id="viewFile"><i class="fa fa-eye"></i></a></td>
                    }

                </tr>
                    }
                }
            </tbody>
        </table>
        @{Html.RenderPartial("~/Views/Shared/Pagination.cshtml");}
    </div>
   
    <div class="modal fade bs-modal-lg" id="large" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Chỉnh sửa tài liệu</h4>
                </div>
                @Html.HiddenFor(m => m.MediaID, new { @class = "editMediaID" })
                <input type="hidden" id="ResourceID_Old" />
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Mã tài liệu</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.MediaCode, new { @class = "form-control editMediaCode" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="form-group">
                        <label class="col-md-3 control-label">Tên file</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.MediaName, new { @class = "form-control editMediaName" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="form-group">
                        <label class="col-md-3 control-label">Ngày hiệu lực</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.EffectiveDate, new { @class = "form-control date-picker editEffectiveDate ", @placeholder = "Ngày hiệu lực" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="form-group">
                        <label class="col-md-3 control-label">tình trạng hiệu lực</label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.EffectiveStatus, new SelectList(Model.ListeffectiveStatus, "Value", "Text"), new { @class = "form-control editEffectiveStatus" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="form-group">
                        <label class="col-md-3 control-label">File đã tải</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control media_Url" disabled />
                        </div>
                        <div style="padding-top:10px" hidden> <a href="#" class="btn_download">Download</a></div>

                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="form-group">
                        <label class="col-md-3 control-label">Tải file mới</label>
                        <div class="col-md-6">
                            <input type="file" id="FileUpload2" class="form-control" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />

                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Đóng</button>
                    <button type="button" id="btn_Update" class="btn green">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    @*<a target_=blank src="/" type="application/pdf" style="width:100%;height:2400px"> </a>*@
</div>
@section scripts{

    <script>
        $('#EffectiveDate').datepicker({
           format: 'dd/mm/yyyy'
        });
        $('.editEffectiveDate').datepicker({
            format: 'dd/mm/yyyy'
        });

        function ShowModel(id) {
            ShowLoading();
            $.ajax({
                type: "POST",
                url: '/UploadFile/GetMediaById',
                data: JSON.stringify({ 'mediaID': id }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    StopShowLoading();
                    console.log(msg.EffectiveDateViewEdit);
                    $('.editMediaID').val(msg.MediaID);
                    $('.editMediaCode').val(msg.MediaCode);
                    $('.editMediaName').val(msg.MediaName);
                    $('.editEffectiveDate').val(msg.EffectiveDateViewEdit);
                    $('.editEffectiveStatus').val(msg.EffectiveStatus);
                    $('.media_Url').val(msg.MediaUrl);


                }
            });
        }


        $(document).on('click', '#btn_Update', function (e) {
            if ($('.editMediaCode').val() == "") {
                toastr["warning"]("Bạn chưa nhập mã tài liệu", "warning");
                $('.editMediaCode').focus();
                return false;
            }
            if ($('.editMediaName').val() == "") {
                toastr["warning"]("Bạn chưa nhập tên tài liệu", "warning");
                $('.editMediaName').focus();
                return false;
            }
            if ($('.editEffectiveDate').val() == "") {
                toastr["warning"]("Bạn chưa nhập ngày hiệu lực", "warning");
                $('.editEffectiveDate').focus();
                return false;
            }
            debugger
            ShowLoading();
            var fileUpload = $("#FileUpload2").get(0);
            if (window.FormData !== undefined) {
                var files = fileUpload.files;
                if (files.length != 0) {
                    if (files[0].size >= 52428800) // 6 mb for bytes.
                    {
                        toastr["warning"]("File vượt quá kích thước cho phép 6 mb", "Lỗi");
                        return false;
                    }
                }
                var fileData = new FormData();
                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                // Adding one more key to FormData object
                fileData.append('mediaID', $('.editMediaID').val());
                fileData.append('mediaCode', $('.editMediaCode').val());
                fileData.append('mediaName', $('.editMediaName').val());
                fileData.append('effectiveDate', $('.editEffectiveDate').val());
                fileData.append('effectiveStatus', $('.editEffectiveStatus').val());
                ShowLoading();
                $.ajax({
                    url: '/UploadFile/UpdateMediaById',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (data, status) {
                        StopShowLoading();
                        $('#large').modal().hide();
                        location.reload();
                        toastr["success"]("", "Thành công");
                        console(data);
                    },
                    error: function (err) {

                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });


        $(document).ready(function () {
           
            $('.nav-item').removeClass('open active');
            $('.listmenu_1').addClass('open active');
            var ResourceID = $('#ResourceID').val().trim();
            var a = '#active_' + $('#ResourceID').val().trim();
            setTimeout(function () {
                $(a).addClass('active open');
            }, 300);

            $('#viewFile').click(function () {
                toastr["warning"]("File không hỗ trợ mở trực tiếp , vui lòng download để xem", "warning");
            });

            $('#btnUpload').click(function () {

                var fileUpload = $("#FileUpload1").get(0);

                if ($('#MediaCode').val() == "")
                {
                    toastr["warning"]("Bạn chưa nhập mã tài liệu", "warning");
                    $('#MediaCode').focus();
                    return false;
                }

                if ($('#MediaName').val() =="")
                {
                    toastr["warning"]("Bạn chưa nhập tên file", "warning");
                    $('#MediaName').focus();
                    return false;
                }
                if ($('#EffectiveDate').val() == "")
                {
                    toastr["warning"]("Bạn chưa nhập ngày hiệu lực", "warning");
                    $('#EffectiveDate').focus();
                    return false;
                }
                if ($('.addEffectiveStatus').val() == 0) {
                    toastr["warning"]("Bạn chưa chọn tình trạng hiệu lực", "warning");
                    $('#EffectiveDate').focus();
                    return false;
                }
                if (fileUpload.files.length == 0) {
                    toastr["warning"]("Bạn chưa chọn file ", "warning");
                    $('#MediaName').focus();
                    return false;
                }
                debugger
                // Checking whether FormData is available in browser
                if (window.FormData !== undefined) {


                    var files = fileUpload.files;
                    if (files[0].size >= 52428800) // 6 mb for bytes.
                    {
                        toastr["warning"]("File vượt quá kích thước cho phép 6 mb", "Lỗi");
                        return false;
                    }

                    //var filePath = fileInput.value;
                    //var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
                    //if (!allowedExtensions.exec(filePath)) {
                    //    alert('Please upload file having extensions .jpeg/.jpg/.png/.gif only.');
                    //    fileInput.value = '';
                    //    return false;
                    // Create FormData object
                    var fileData = new FormData();
                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }
                    // Adding one more key to FormData object
                    fileData.append('mediaCode', $('#MediaCode').val());
                    fileData.append('effectiveDate', $('#EffectiveDate').val());
                    fileData.append('effectiveStatus', $('#EffectiveStatus').val());
                    fileData.append('mediaName', $('#MediaName').val());
                    fileData.append('ResourceID', $('#ResourceID').val());
                    ShowLoading();
                    $.ajax({
                        url: '/UploadFile/UploadFiles',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (data, status) {
                            StopShowLoading();
                            location.reload();
                            //setTimeout(function () {
                            //    window.location.reload(1);
                            //}, 1000);
                            toastr["success"]("", "Thành công");
                            console(data);
                            //if (data.Status == 1) {
                            //    toastr["success"](data.Message, "Thành công");
                            //}
                            //else {
                            //    toastr["error"](data.Message, "Lỗi")
                            //}
                        },
                        error: function (err) {

                            alert(err.statusText);
                        }
                    });
                } else {
                    alert("FormData is not supported.");
                }
            });
        });

        $(document).on('click', '#btn_search', function () {
            var url = '@Html.Raw(Url.Action("Index", "UploadFile", new { ResourceID = "__productId__", Str = " __str__" , EffectiveStatusSearch = "__EffectiveStatusSearch__" }))';
            var params = url.replace('__productId__', $('#ResourceID').val()).replace('__str__', $('#Str').val()).replace('__EffectiveStatusSearch__', $('#EffectiveStatusSearch').val());
                        window.location.href = params;
        })



        function DeleteFile(id) {
            bootbox.confirm("Bạn có chắc chắn muốn xóa", function (o) {
                if (o == true) {
                    ShowLoading();
                    $.ajax({
                        type: "POST",
                        url: '/UploadFile/DeleteFile',
                        data: JSON.stringify({ 'id': id }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data, status) {
                            if (data.Status == 1) {
                                setTimeout(function () {
                                    window.location.reload(1);
                                }, 1000);
                                toastr["success"](data.Message, "Thành công");
                            }
                            else {
                                setTimeout(function () {
                                    window.location.reload(1);
                                }, 1000);
                                toastr["error"](data.Message, "Lỗi");
                            }
                            StopShowLoading();
                        }
                    });
                }
            });
        }

        function downloadfile(id) {
            var ResourceID = $('#ResourceID').val();

                $.ajax({
                    type: "POST",
                    url: '/UploadFile/ExporFile',
                    data: JSON.stringify({ 'id': id}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                }).done(function (data) {
                    if (data.fileName != "") {
                        var url = '@Html.Raw(Url.Action("Download", "UploadFile", new { file = "__productId__", resourceID = "__orderId__"}))';
                        var params = url.replace('__productId__', data.fileName).replace('__orderId__', ResourceID);
                        window.location.href = params;
                    }
                    else {
                        toastr["error"](data.errorMessage, "Lỗi");
                    }
                });
        }

        function page_click(CurrentPage) {
            var TotalPage = $('#hdd_TotalPage').val();
            if (CurrentPage < 1) return;
            if (CurrentPage > TotalPage) return;
          $("#PageCurrent").val(CurrentPage);

             var url = '@Html.Raw(Url.Action("Index", "UploadFile", new { ResourceID = "__productId__", Str = " __str__" , CurrentPage = " __currenpage__" }))';
            var params = url.replace('__productId__', $('#ResourceID').val()).replace('__str__', $('#Str').val()).replace('__currenpage__', CurrentPage);
                        window.location.href = params;

        }

    </script>
}