﻿
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<input type="button" id="btn" value="click" />
<div class="">
    <div class="g-signin2" data-longtitle="true" data-onsuccess="Google_signIn" data-theme="light" data-width="200"></div>
</div>
@section scripts{

    <script>
        $(document).ready(function () {
            //loginController.validuserlogin();
            $(".abcRioButtonContents").find("span:first").text("dcmm");
            $(".abcRioButtonContents").find("span:first").css("background", "blue");

            $('#btn').trigger('click');
        });
        $("#btn").click(function (e) {
            //var a = $("span[id^='not_signed']").text;
            //alert(a);
            //var a = $('.abcRioButtonContents').find('span').data("id").indexOf("not_signed").css("color", "red");
       
            $(".abcRioButtonContents").find("span:first").css("background", "blue").end();
            //alert($('.abcRioButtonContents').find('span').);

            //if ($('.abcRioButtonContents').data("id").indexOf("not_signed") == 0) {
            //    alert("1");
            //}
            //else {
            //    alert("2");
            //}
        });



        function Google_signIn(googleUser) {
            debugger
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId());
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail());
            //pass information to server to insert or update the user record
            update_user_data(profile);
        }

    </script>
}
